/* General */
@import "css/fonts.css";
@import "css/animations.css";
body{
    font-family: 'Roboto';
}
/* HEADER */
.container{
    padding: 20px 90px 0 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
header .container{
    align-items: center;
    color: white;
}
header .container a{
    text-decoration: none;
    color: white;
    transition: all 0.1s;
}
header .container a:hover{
    font-size: 18px;
}
#research{
    justify-self: center;
    background-color: transparent;
    border: 2px solid white;
    height: 30px;
    width: 180px;
    outline: none;
    color: white;
    font-weight: 700;
}
#research::placeholder{
    color: white;
}
#profil img{
    cursor: pointer;
    height: 60px;
    height: 60px;
    border-radius: 45px;
    border: 3px solid white;
    box-sizing: border-box;
}
/* Menu Avatar */
#menuAvatar{
    position: absolute;
    right: 90px;
    height: 270px;
    width: 240px;
    border: 2px solid black;
    box-sizing: border-box;
    background: rgb(126,18,11);
    color: white;
    display: none;
}
#menuAvatar #top{
    height: 50px;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
#menuAvatar #top span{
    font-size: 24px;
}
#menuAvatar #bottom{
    padding: 10px 0 10px 0;
}
#menuAvatar #bottom ul{
    width: 100%;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#menuAvatar #bottom a{
    padding-left: 10px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}
#menuAvatar #bottom a:hover{
    text-decoration: underline;
}
/* HOME */
#home{
    background-image: url(assets/img/anime-samurai-girl-katana-forest-bamboo-torii-warrior-gloves-armor-ponytail-31087.jpeg);
    background-position: center;
    background-size:cover;
    height: 100vh;
    position: relative;
    top: -83px;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -83px;
    zoom: reset;
}
#home #logoHome{
    width: 50vh;
}
#home #arrowsHome{
    position: absolute;
    bottom: 30px;
    animation: float 3s ease-in-out infinite;
}
/* ACTUS */
#actus{
    height: 100vh;
    background-color: #050806;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 90px;
}
#containerTopActus{
    display: flex;
    flex-direction: row;
}
#colonneActus{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 2;
    margin: 10px;
    position: relative;
}
#colonneActus img{
    width: 150px;
    position: absolute;
    top: 5px;
    right: 10px;
}
#colonneActus .littleActus:nth-of-type(2) img{
    top: -10px;
}
#colonneActus .boxTextColonne {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    background-color: #000;
    height: 35px;
    width: auto;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 0 5px;
}
#actus1{
    height: 600px;
    width: 940px;
    background-image: url(assets/img/uzumaki-naruto-big-smile-konoha-village-naruto-anime.jpeg);
    background-size: cover;
    margin: 10px;
    position: relative;
}
div#actus1 img {
    width: 300px;
    position: absolute;
    right: 20px;
    top: 20px;
}
div#actus1 #boxTextActus1 {
    background-color: #000;
    height: 130px;
    width: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
div#actus1 #boxTextActus1 p{
    color: #fff;
    font-size: 48px;
}
.littleActus{
    height: 187px;
    width: 300px;
    background-size: cover;
    position: relative;
}
.littleActus:first-child{
    background-image: url(assets/img/jujutsu.jpg);
}
.littleActus:nth-of-type(2){
    background-image: url(assets/img/bc.jpg);
}
.littleActus:nth-of-type(3){
    background-image: url(assets/img/ippo.jpg);
}
#actus1, div.littleActus{
    border: 5px solid #7E120B;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.direct{
    grid-column: span 2;
    border: 5px solid #7E120B;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 1260px;
    height: 187px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}
#containerDirect{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 260px;
    left: -60px;
}
.direct #containerDirect .caseDirect{
    transform: rotate(45deg);
    width: 453px;
    height: 750px;
    background-color: #000;
    border: 3px solid #7E120B;
    overflow: hidden;
}
.direct #containerDirect .caseDirect:nth-of-type(2){
    position:relative;
    left: 75px;
}
.direct #containerDirect .caseDirect:nth-of-type(3){
    position:relative;
    left: 75px;
}
.direct #containerDirect .caseDirect img{
    height: 300px;
    transform: rotate(315deg);
    position: relative;
    left: 14px;
    bottom: -138px;
}
.direct #containerDirect .caseDirect:nth-of-type(2) img{
    left: -97px;
    bottom: -240px;
    height: 400px;
}
.direct #containerDirect .caseDirect:nth-of-type(3) img{
    left: -150px;
    bottom: -250px;
    height: 300px;
}
#logoDirect{
    position: absolute;
    z-index: 2;
    font-size: 24;
    font-weight: 700;
    background-color: #000;
    color: white;
    padding: 0.2rem 0.5rem;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 5px;
    top: 5px;
}
#logoDirect > div{
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: #7E120B;
    position: relative;
    right: 3px;
    top: 2px;
}
.direct #horaire1, .direct #horaire2{
    position: absolute;
    top: 75px;
    z-index: 5;
    background-color: #000;
    color: white;
    width: 100px;
    height: 25px;
    border: 3px solid #7E120B;
    transform: rotate(315deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.direct #horaire1{
    left: 320px;
}
.direct #horaire2{
    left: 740px;
}
#containerDirect > img{
    z-index: 3;
    position: absolute;
    bottom: 325px;
    left: 200px;
    height: 50px;
}
#containerDirect > img:nth-of-type(2){
    left: 600px;
}
#containerDirect > img:nth-of-type(3){
    left: 1175px;
    bottom: 315px;
}
/* PLAYER */
#player{
    height: 100vh;
    background-image: url(assets/img/fantasy-landscape-waterfall-statue-samurai-swords-mountain-artwork.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#player span{
    background-color: #000;
    color: #fff;
    padding: 0.2rem 0.8rem;
    text-align: center;
    font-size: 24px;
    margin-left: 90px;
}
.slider{
    position: relative;
    overflow: hidden;
}
.containerSlides{
    display: flex;
    flex-direction: row;
    width: 300vw;
}
.slide{
    width: 21vw;
    height: 12vw;
    background-color: #fff;
    margin: 0 10px;
}
/* TOP5 */
#top5{
    height: 70vh;
    background-color: #050806;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 90px;
}
#topContainerPanel{
    border: 5px solid #000;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.topLine{
    display: flex;
    flex-direction: row;
    height: 270px;
    width: 1260px;
    overflow: hidden;
    position: relative;
}
#topContainerPanel > .topLine:first-child{
    border-bottom: 3px solid #000;
}
.topLine > div{
    width: 420px;
    overflow: hidden;
    height: 270px;
}
.topLine div img{
    height: 200px;
}
/* TOP > Panels */
/* Ligne du haut */
/* Div au centre */
.topLine:first-child div:first-child{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    height: 270px;
}
.topLine:first-child div:first-child div{
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
}
.topLine:first-child div:first-child div span:first-child{
    font-size: 24px;
}
.topLine:first-child div:first-child div span:nth-of-type(2){
    font-size: 72px;
}
.topLine:first-child div:first-child div span:nth-of-type(3){
    font-size: 144px;
    position: relative;
    top: -20px;
}
/* Div de gauche */
.topLine:first-child div:nth-of-type(2){
    position: absolute;
    left: -90px;
    border: 3px solid #000;
    background-color: #000;
    height: 400px;
    width: 600px;
    transform: rotateZ(45deg);
}
.topLine:first-child div:nth-of-type(2) img{
    transform: rotateZ(-45deg);
    height: 450px;
    position: relative;
    top: -40px;
    right: -20px;
}
/* Dic de droite */
.topLine:first-child div:nth-of-type(3){
    position: absolute;
    right: -90px;
    border: 3px solid #000;
    background-color: #000;
    height: 400px;
    width: 600px;
    transform: rotateZ(-45deg);
}
.topLine:first-child div:nth-of-type(3) img{
    transform: rotateZ(45deg);
    height: 450px;
    position: relative;
    top: 15px;
    right: 90px;
}
/* Ligne du Bas */
/* Div au centre */
.topLine:nth-of-type(2) div:first-child{
    position: absolute;
    left: 50%;
    width: 800px;
    transform: translateX(-50%);
}
.topLine:nth-of-type(2) div:first-child img{
    height: 425px;
    position: relative;
    left: 60px;
}
/* Div de gauche */
.topLine:nth-of-type(2) div:nth-of-type(2){
    transform: rotateZ(-45deg);
    position: absolute;
    border: 3px solid #000;
    background-color: #000;
    height: 400px;
    width: 600px;
    top: -136px;
    left: -90px;
}
.topLine:nth-of-type(2) div:nth-of-type(2) img{
    transform: rotateZ(45deg);
    height: 325px;
    position: relative;
    top: 115px;
    left: 20px;
}
/* Div de droite */
.topLine:nth-of-type(2) div:nth-of-type(3){
    position: absolute;
    transform: rotateZ(45deg);
    border: 3px solid #000;
    background-color: #000;
    height: 400px;
    width: 600px;
    top: -136px;
    right: -90px;
}
.topLine:nth-of-type(2) div:nth-of-type(3) img{
    transform: rotateZ(-45deg);
    position: relative;
    height: 400px;
    top: 80px;
    right: -25px;
}
/* TOP > Liens */
#topLink{
    display: flex;
    flex-direction: row;
    width: 1260px;
    justify-content: space-between;
    margin-top: 20px;
}
#topLink > li{
    color: #fff;
    background-color: #000;
    border: 2px solid #7E120B;
    width: 140px;
    height: 30px;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FOOTER */
footer{
    height: 30vh;
    background-color: #050806;
    padding: 0 90px;
    display: flex;
    justify-content: center;
    position: relative;
}
#footerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1260px;
    margin-top: 40px;
}
footer div{
    display: flex;
    flex-direction: column;
}
footer > div > div > span:first-child{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
.lineFooter{
    border: 1px solid #7E120B;
    width: 300px;
    margin-bottom: 5px;
}
footer ul li {
    margin-top: 5px;
}
footer ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
span#copyright{
    position: absolute;
    bottom: 20px;
    color: #fff;
    font-size: 14px;
}