/* General */
@import "css/fonts.css";
@import "css/animations.css";
body{
    font-family: 'Roboto';
}
/* HEADER */
.container{
    padding: 20px 90px 0 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
header .container{
    align-items: center;
    color: white;
}
header .container a{
    text-decoration: none;
    color: white;
    transition: all 0.1s;
}
header .container a:hover{
    font-size: 18px;
}
header span:nth-of-type(1){
    grid-column: 1;
}
header span:nth-of-type(2){
    grid-column: 4;
}
header span:nth-of-type(3){
    grid-column: 7;
}
header span:nth-of-type(4){
    grid-column: 10;
}
#research{
    grid-column: 12/16;
    justify-self: center;
    background-color: transparent;
    border: 2px solid white;
    height: 30px;
    width: 180px;
    outline: none;
    color: white;
    font-weight: 700;
}
#research::placeholder{
    color: white;
}
#profil{
    grid-column: 16;
    justify-self: end;
}
#profil img{
    cursor: pointer;
    height: 60px;
    height: 60px;
    border-radius: 45px;
    border: 3px solid white;
    box-sizing: border-box;
}
/* Menu Avatar */
#menuAvatar{
    position: absolute;
    right: 90px;
    height: 270px;
    width: 240px;
    border: 2px solid black;
    box-sizing: border-box;
    background: rgb(126,18,11);
    color: white;
    display: none;
}
#menuAvatar #top{
    height: 50px;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
#menuAvatar #top span{
    font-size: 24px;
}
#menuAvatar #bottom{
    padding: 10px 0 10px 0;
}
#menuAvatar #bottom ul{
    width: 100%;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#menuAvatar #bottom a{
    padding-left: 10px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}
#menuAvatar #bottom a:hover{
    text-decoration: underline;
}
/* HOME */
#home{
    background-image: url(assets/img/anime-samurai-girl-katana-forest-bamboo-torii-warrior-gloves-armor-ponytail-31087.jpeg);
    background-position: center;
    background-size:cover;
    height: 100vh;
    position: relative;
    top: -83px;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -83px;
    zoom: reset;
}
#home #logoHome{
    width: 50vh;
}
#home #arrowsHome{
    position: absolute;
    bottom: 30px;
    animation: float 3s ease-in-out infinite;
}
/* ACTUS */
#actus{
    height: 100vh;
    background-color: #050806;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 90px;
}
#containerTopActus{
    display: flex;
    flex-direction: row;
}
#colonneActus{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 2;
    margin: 10px;
    position: relative;
}
#colonneActus img{
    width: 150px;
    position: absolute;
    top: 5px;
    right: 10px;
}
#colonneActus .littleActus:nth-of-type(2) img{
    top: -10px;
}
#colonneActus .boxTextColonne {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    background-color: #000;
    height: 35px;
    width: auto;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 0 5px;
}
#actus1{
    height: 600px;
    width: 940px;
    background-image: url(assets/img/uzumaki-naruto-big-smile-konoha-village-naruto-anime.jpeg);
    background-size: cover;
    margin: 10px;
    position: relative;
}
div#actus1 img {
    width: 300px;
    position: absolute;
    right: 20px;
    top: 20px;
}
div#actus1 #boxTextActus1 {
    background-color: #000;
    height: 130px;
    width: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
div#actus1 #boxTextActus1 p{
    color: #fff;
    font-size: 48px;
}
.littleActus{
    height: 187px;
    width: 300px;
    background-size: cover;
    position: relative;
}
.littleActus:first-child{
    background-image: url(assets/img/jujutsu.jpg);
}
.littleActus:nth-of-type(2){
    background-image: url(assets/img/bc.jpg);
}
.littleActus:nth-of-type(3){
    background-image: url(assets/img/ippo.jpg);
}
#actus1, div.littleActus{
    border: 5px solid #7E120B;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.direct{
    grid-column: span 2;
    border: 5px solid #7E120B;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 1260px;
    height: 187px;
    margin: 10px;
}